---
title: Devblog de Guillaume Brioudes
description: Le devblog de Guillaume Brioudes est un carnet de réflexions sur le développement et la documentation de logiciels 
keywords:
  - documentation logicielle
  - architecture de code source
---

<!doctype html>
<html lang="fr">

{% include "head.njk" %}

<body>

    {% include "header.njk" %}

    <main>

        {% include "back-home.njk" %}

        <h1>Devblog</h1>

        {%- for post in collections.devblog | reverse -%}
        <article>
            <div>
                <time datetime"post.data.date">{{ post.data.date }}</time>
                |
                <a href="{{ post.url }}"><span>{{ post.data.title }}</span></a>
            </div>
            <span>
            </span>

            <p>{{ post.data.description }}</p>
        </article>
        {%- endfor -%}
    </main>

    {% include "footer.njk" %}

</body>

</html>