:root {
    --color-background: hsl(100, 10%, 100%);
    --color-accent: #08415C;
    --font: 'Inconsolata', monospace;

    font-size: 62.5%;
}

@media (max-width: 800px) {
    :root { font-size: 72.5%; }
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/assets/fonts/Inconsolata-Light.woff2') format('woff2'),
        url('/assets/fonts/Inconsolata-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/assets/fonts/Inconsolata-Regular.woff2') format('woff2'),
        url('/assets/fonts/Inconsolata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/assets/fonts/Inconsolata-Bold.woff2') format('woff2'),
        url('/assets/fonts/Inconsolata-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: var(--font);
    max-width: 800px;
    margin: 0 auto;
    background: var(--color-background);
    font-size: 1.8rem;
    padding: 0 2rem;

    display: grid;
    grid-template-columns: [main] 70% [aside] 30%;
    grid-template-rows: auto;
    grid-template-areas: "header header"
                            "main aside"
                            "footer footer"
}

body.post {
    grid-template-areas: "header header"
                            "main main"
                            "footer footer"
}

@media (max-width: 800px) {
    body {
        grid-template-areas: "header header"
                                "main main"
                                "aside aside"
                                "footer footer"
    }
}

/* HEADER */

header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    grid-area: header;
}

header a {
    text-decoration: none;
    color: inherit;
}


main {
    grid-area: main;
}

h1.titre-site {
    position: relative;
    font-size: 2.8rem;
    margin-right: 5rem;
}

h1.titre-site span {
    position: absolute;
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
}

aside {
    grid-area: aside;
}

/* FOOTER */

footer {
    border-top: 2px solid var(--color-accent);
    margin-top: 5rem;
    padding: 2rem 0 4rem 0;
    text-align: center;
    grid-area: footer;
}

h1.post-title {
    font-size: 5rem;
}

/* POSTS */

ul.metas-list {
    position: relative;
    margin: 5rem 0;
}

ul.metas-list::before {
    content: '---';
    position: absolute;
    top: -2rem;
    letter-spacing: 0.2rem;
}

ul.metas-list::after {
    content: '---';
    position: absolute;
    bottom: -2rem;
    letter-spacing: 0.2rem;
}

ul.metas-list li {
    font-size: 1.4rem;
    line-height: 1.2rem;
}

ul.metas-list li+li {
    margin-top: 1rem;
}

ul.metas-list li span:first-of-type {
    font-weight: bold;
    margin-right: 1rem;
    color: var(--color-accent);
}

/* ELEMENTS */

h1, h2, h3, a {
    color: var(--color-accent);
}

p+h2 {
    margin: 4rem 0 2rem 0;
}

pre {
    margin: 3rem 0;
    overflow: auto;
}

pre>code {
    font-family: 'Inconsolata';
    font-weight: 200;
    line-height: 130%;
    font-size: 2rem;
}

ul.social-link a {
    font-size: 2rem;
    font-weight: 200;
}

ul.no-list, ul.page-list, ul.inline-list, ul.metas-list  {
    list-style: none;
    padding: 0;
}

ul.inline-list {
    display: flex;
}

ul.inline-list  li+li {
    margin-left: 3rem;
}

ul.page-list li+li {
    border-top: 1px solid var(--color-accent);
}

ul.page-list a {
    display: block;
    color: inherit;
    padding: 1rem 0 2rem 0;
}