.wrapper {
    display: flex;
    flex-wrap: wrap;
}

main {
    flex: 2;
    min-width: 500px;
}

aside {
    flex: 1;
    min-width: 200px;
    margin-left: 2rem;
}

.projets article {
    margin: 3rem 0;
}

.projets a {
    color: inherit;
    font-weight: 200;
}