<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>

<title>{{ title }}</title>
<meta property="og:title" content="{{ title }}"/>
<meta property="og:site_name" content="{{ title }}"/>
<meta name="twitter:title" content="{{ title }}"/>
<meta itemprop="name" content="{{ title }}"/>
<meta name="DC.Title" content="{{ title }}"/>

<meta name="description" content="{{ description }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta name="twitter:description" content="{{ description }}"/>
<meta itemprop="description" content="{{ description }}"/>
<meta name="DC.description" content="{{ description }}"/>

<meta name="author" content="Guillaume Brioudes"/>
<meta property="article:author" content="Guillaume Brioudes"/>
<meta name="twitter:site" content="https://myllaume.fr/"/>
<meta name="twitter:creator" content="@guill_brioudes"/>
<meta name="DC.creator" content="Guillaume Brioudes"/>

{% for word in keywords %}
<meta property="article:tag" content="{{ word }}"/>
<meta itemprop="keywords" content="{{ word }}"/>
{% endfor %}
<meta name="DC.subject" content="{{ keywords[0] }}"/>

{% if date %}
<meta property="article:published_time" content="{{ date }}"/>
<meta itemprop="datePublished" content="{{ date }}"/>
{% endif %}

<meta name="copyright" content="CC BY-NC Guillaume Brioudes"/>
<meta name="DC.rights" content="CC BY-NC Guillaume Brioudes"/>

<meta name="DC.language" content="fr"/>
<meta name="DC.format" content="text/html"/>
<meta property="og:type" content="website"/>
<meta name="generator" content="https://github.com/11ty/eleventy/">